body {
  background-color: #000000;
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
}

/*----- text color for hamburger menu -----*/
nav ul li a {
  color: #FFFFFF !important;
}

/*----- header slider -----*/
.slider .slides li img {
    background-size: 100% auto;
    background-repeat: no-repeat;
    opacity: 0.5;
}

/*----- find a gym -----*/
.find-gym-bg {
    background-image: url('images/gym.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding: 1em;
    margin-top: 1em;
}

.find-gym {
    width: 60%;
    margin: 0 auto;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    padding: 1em;
    opacity: 0.9;
}

.find-gym a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF0000;
    padding: 0.7em;
}

/*----- exercises -----*/
.see-exercises {
    margin-top: 1em;
    width: 100%;
    background-color: #FFFFFF;
    padding: 0.25em;
    text-align: center;
}

.see-exercises a {
    color: #000000;
}

.see-exercises a:hover {
    text-decoration: underline;
}

/*----- stories -----*/
.stories {
    width: 80%;
    margin: 0 auto;
}

.stories ul {
    text-align: center;
}

.stories h3 {
    color: #FFFFFF;
    text-align: center;
}

.stories img {
    margin: 0 auto;
    width: 100%;
}

.stories-body ul {
    text-align: center;
    padding-left: 0.5em;
}

.stories-body ul li a {
    color: #000000;
}

.stories-body ul li a:hover {
    text-decoration: underline;
}

/*----- footer -----*/
footer {
    padding: 1em;
}

footer ul {
    text-align: center;
}
